// font-variation-settings: 'wght' 430, 'wdth' 200;
// The range is from 50 to 200
@font-face {
    font-family: 'agrandir';
    src: url('~assets/fonts/AgrandirVariable.ttf') format('truetype');
    font-display: swap;
    unicode-range: U+000-5FF; /* Latin glyphs */
}
