/* Grid */

.container {
    max-width: calc(100% - 20px);
    margin: 0 auto;
}
.full-content {
    padding-left: var(--gutter);
    padding-right: var(--gutter);
}

@media (min-width: $tablet){
    .container {
        max-width: calc(100% - 45px);
    }
}
